

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add in your CSS file or inside a style tag */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
  border-radius: 50px;
  border: 2px solid white;
  background: transparent;
  color: white;
  transition: 0.3s;
}

.button:hover {
  background: #007bff;
  /* color: blue; */
  border: 2px solid #007bff;
}

.nav-link:hover{
  text-decoration: underline;
}
